.about ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.about li {
  display: flex;
  gap: 15px;
}

.photo {
  width: 300px;
  border-radius: 4px;
  filter: grayscale(50%);
}

.right {
  width: fit-content;
  height: 100%;
  margin: auto;
}

.wrapper {
  position: relative;
}

.overlay {
  width: 100%;
  height: 99%;
  position: absolute;
  top: 0;
  background: var(--green);
  opacity: 0.5;
  transition: 0.5s;
  border-radius: 4px;
  z-index: 1;
}

.overlay:hover {
  opacity: 0;
}

.overlay:hover ~ .photo {
  filter: unset;
}

.frame {
  border: var(--green) solid 4px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: -1;
}

.about {
  padding-top: 1%;
}

@media (min-width: 1200px){
  .about{
    display: flex;
    align-items: center;
    gap: 10%;
  }
}
