.about ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.about li {
  display: flex;
  gap: 15px;
}

.photo {
  width: 300px;
  /* padding: 5%; */
  margin: auto;
  /* display: block; */
}

.right {
  width: fit-content;
  height: 100%;
  margin: auto;
}

.wrapper {
  position: relative;
  width: fit-content;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #64ffda;
  opacity: 0.5;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 0;
}

.about {
  padding-top: 1%;
}

@media (min-width: 1200px){
  .about{
    display: flex;
    align-items: center;
    gap: 10%;
  }
}

/* right => wraper  wraper => image */