@import url('https://fonts.googleapis.com');

:root {
  --green: #64ffda;
  --white: #e6f1ff;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --basic-background: #0a192f;
  --lightest-navy: #233554;
}

p {
  line-height: 27px;
  color: var(--slate);
}

body {
  background-color: var(--basic-background);
  font-family: 'Overpass', sans-serif;
}

main {
  width: 80%;
  margin: 15% auto;
}

.robotic {
  font-family: 'Courier New', Courier, monospace;
  color: var(--green);
  font-weight: 500;
}

.content {
  width: 90%;
  margin: 30% auto;
}

.title {
  color: var(--lightest-slate);
  font-size: 32px;
  display: flex;
  gap: 1%;
}

.title hr {
  width: 70%;
  height: 0;
  margin-left: 20px;
  border-color: var(--lightest-navy);
}