@import url('https://fonts.googleapis.com');

:root {
  --green: #64ffda;
  --white: #e6f1ff;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --basic-background: #0a192f;
}

body {
  background-color: var(--basic-background);
  font-family: 'Overpass', sans-serif;
}

main {
  margin: auto;
  width: 70%;
}

.robotic {
  font-family: 'Courier New', Courier, monospace;
  color: var(--green);
  font-weight: 500;
}
