.header{
  color: var(--light-slate);
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
  align-items: center;
  position: fixed;
  top: 0;
  width: 93%;
  background-color: var(--basic-background);
}

.header-list {
  display: flex;
  gap: 5px;
}

.nav {
  display: flex;
  gap: 25px;
  scroll-behavior:smooth;
}

.logo {
  color: var(--green);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
}

@media (max-width: 500px){
  .logo{
    display: none;
  }

  .header {
    padding: 5%;
  }
}
