header{
  color: var(--light-slate);
  display: flex;
  justify-content: space-between;
  padding: 1% 3%;
  align-items: center;
  position: fixed;
  top: 0;
  width: 93%;
  background-color: var(--basic-background);
  z-index: 1;
}

.header-list {
  display: flex;
  gap: 5px;
}

.header-list:hover {
  color: var(--green);
} 

nav {
  display: flex;
  gap: 25px;
  scroll-behavior: smooth;
}

.logo {
  color: var(--green);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
}

.nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--light-slate);
  font-size: larger;
  visibility: hidden;
  opacity: 0;
} 

.nav-btn:hover {
  color: var(--green);
} 

@media (max-width: 500px){

  header {
    padding: 5%;
  }

  .nav-btn {
    visibility: visible;
		opacity: 1;
  } 

  nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--lightest-navy);
		transition: 1s;
  }

  .nav-close-btn {
		/* position: absolute; */
		top: 2rem;
		right: 2rem;
	}

  .responsive_nav {
		transform: translateY(100vh);
	}
}
