.project-card {
  background-color: var(--lightest-navy);
  padding: 5%;
  margin-top: 7%;
}

.screenshot {
  width: 90%;
  margin: auto;
}

.tech {
  display: flex;
  gap: 3%;
}

@media (min-width: 820px){
  .project-card {
    display: flex;
    gap: 3%;
  }
  .screenshot {
    width: 40%;
    margin: auto;
  }
}