.project-card {
  background-color: var(--lightest-navy);
  padding: 5%;
  margin-top: 7%;
}

.screenshot {
  width: 90%;
  margin: auto;
  display: block;
}

.tech {
  display: flex;
  gap: 3%;
  flex-wrap: wrap;
}

.links {
  display:flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 7%;
}

#projects {
  padding-top: 20%;
}

@media (min-width: 820px){
  .project-card {
    display: flex;
    gap: 7%;
  }

  .screenshot {
    width: 40%;
    margin: auto;
  }

  .links {
    justify-content: flex-end;
    gap: 20px;
  }
}